<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanhunoo.clover.dao.UserDao">
    <!-- 需查密码 用于security的权限校验-->
    <resultMap id="user" type="com.fanhunoo.clover.entity.User">
        <result property="id" column="ID"/>
        <result property="passWord" column="PASS_WORD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="realName" column="REAL_NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="status" column="STATUS"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="remarkes" column="REMARKES"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createPer" column="CREATE_PER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updatePer" column="UPDATE_PER"/>
        <result property="lastLoginTime" column="LAST_LOGIN_TIME"/>

        <result property="roleId" column="ROLE_ID"/>
    </resultMap>

    <!-- 不展示密码 用于业务-->
    <resultMap id="userNoPassword" type="com.fanhunoo.clover.entity.User">
        <result property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="realName" column="REAL_NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="status" column="STATUS"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="remarkes" column="REMARKES"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createPer" column="CREATE_PER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updatePer" column="UPDATE_PER"/>
        <result property="lastLoginTime" column="LAST_LOGIN_TIME"/>

        <result property="roleId" column="ROLE_ID"/>
    </resultMap>

    <select id="selectUser" resultMap="user" parameterType="int">
        SELECT U.*,'' AS ROLE_ID
        FROM T_SYS_USER U WHERE id  = #{id}
    </select>

    <select id="findUserByName" resultMap="user" parameterType="java.lang.String">
        SELECT *
		FROM T_SYS_USER U LEFT JOIN T_SYS_AUTH A ON U.ID=A.USER_ID
		WHERE USER_NAME=#{username}
    </select>

    <select id="findUsersBy" resultMap="userNoPassword" parameterType="java.util.Map">
        SELECT U.*,'' AS ROLE_ID
        FROM T_SYS_USER U
        <where>
            <if test="selectAll==null or selectAll==''">
                AND U.ORG_ID = #{orgId}
            </if>
        </where>
        order by U.ID
    </select>

</mapper>